<!doctype html>
<html lang="en">

<head>
	{{template "head.html" .}}
</head>

<body>
	{{template "header.html" .}}
	<div class="container">
		<div id="jaws-alerts"></div>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">VIN</th>
					<th scope="col">Make</th>
					<th scope="col">Model</th>
					<th scope="col">Year</th>
					<th scope="col">Condition</th>
				</tr>
			</thead>
			<tbody jid="{{$.Register ($.Tags `carlist`)}}">
				{{range .G.Cars}}
				<tr jid="{{$.Register ($.Tags .VIN)}}">
					<td scope="row">
						{{$.Button "&uarr;" .UpButtonFn `class="badge rounded-pill bg-secondary"`}}
						{{$.Button "x" .RemoveButton `class="badge rounded-pill bg-secondary"`}}
						{{$.Button "&darr;" .AppendButton `class="badge rounded-pill bg-secondary"`}}
						{{.VIN}}
					</td>
					<td>{{.Make}}</td>
					<td>{{.Model}}</td>
					<td>{{.Year}}</td>
					<td>
						<div class="btn-group btn-group-sm" role="group">
							<!--
								we don't need explicit ID's for these buttons, but JaWS
								will autogenerate some unique ones to support the callbacks
							-->
							{{$.Button "-" .ConditionDec `class="btn btn-outline-secondary"`}}
							{{$.Button "+" .ConditionInc `class="btn btn-outline-secondary"`}}
						</div>
						{{$.Span (print .Condition) .ConditionID}}
					</td>
				</tr>
				{{end}}
			</tbody>
		</table>
		{{$.Button ($.Inner "Mystical") .OnMystical}}
	</div>
</body>

</html>