<!doctype html>
<html lang="en">

<head>
	{{template "head.html" .}}
</head>

<body>
	{{template "header.html" .}}
	<div class="container">
		<div id="jaws-alerts"></div>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">VIN</th>
					<th scope="col">Make</th>
					<th scope="col">Model</th>
					<th scope="col">Year</th>
					<th scope="col">Condition</th>
				</tr>
			</thead>
			<!--
				The list of cars can be reordered. Re-ordering HTML elements with JaWS require you
				to have a parent element that contains all the child elements you want to order.

				Here, we register the table body as an element with the tag "carlist".
			-->
			<tbody id="{{$.Register `carlist`}}">
				{{range .G.Cars}}
				<!--
					We register each Car as it's own element using the actual *Car as the tag.
				-->
				<tr id="{{$.Register .}}">
					<td scope="row">
						<!--
							Buttons send click events up the DOM tree, with a parameter
							containing the 'name' attribute if present, or the inner HTML
							if there is no name attribute.

							So these button click events get delivered to *Car.JawsClick().
						-->
						{{$.Button "&uarr;" `class="badge rounded-pill bg-secondary" name="up"`}}
						{{$.Button "x" `class="badge rounded-pill bg-secondary" name="remove"`}}
						{{$.Button "&darr;" `class="badge rounded-pill bg-secondary" name="down"`}}
						{{.VIN}}
					</td>
					<td>{{.Make}}</td>
					<td>{{.Model}}</td>
					<td>{{.Year}}</td>
					<td>
						<div class="btn-group btn-group-sm" role="group">
							<!--
								If a button doesn't have a name attribute,
								it's inner HTML is used instead when sending events.
							-->
							{{$.Button "-" `class="btn btn-outline-secondary"`}}
							{{$.Button "+" `class="btn btn-outline-secondary"`}}
						</div>
						{{$.Span .Condition}}
					</td>
				</tr>
				{{end}}
			</tbody>
		</table>
		{{$.Button "Mystical" .OnMystical}}
	</div>
</body>

</html>